* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    color: #fff;
    background-color: #498cec;
}

.weather {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    padding: 75px 75px 122px 99px;
}

@media (max-width: 768px) {
    .weather {
        padding: 50px 50px 100px 75px;
    }
}

@media (max-width: 375px) {
    .weather {
        padding: 20px 35px 40px 20px;
    }
}
